.footer {
	background-color: #0e0e0e;
	display: flex;
	flex-direction: column;
}
.copyright {
	min-height: 3vh;
	color: #fff;
	font-family: var(--font-family-main);
	background-color: #000000;
	display: flex;
	align-items: center;
	& > p {
		margin-inline-start: calc(var(--index));
	}
}
.FooterContainer {
	width: calc(100vw - 6px);
	max-width: 1600px;
	margin: 0 auto;
	padding: calc(var(--index)) 0;
	display: flex;
	justify-content: center;
}
.mainBox {
	width: 80%;
	display: flex;
	min-height: 20vh;
	color: #fff;
	font-family: var(--font-family-main);
	flex-direction: row;
	& > * {
		flex: 1;
	}
}
.colHeading {
	color: #fff;
	font-size: var(--font-size-m);
	font-weight: bold;
}
.link,
.contact,
.option {
	list-style-type: disc;
	text-decoration: none;
	color: var(--font-color-secondary);
	font-size: var(--font-size-sm);
}
.outLink {
	margin: calc(var(--index) * 0.5) calc(var(--index) * 0.3);
	color: #fff;
	font-size: var(--font-size-l);
	display: inline-block;
	cursor: pointer;
}
.options {
	display: flex;
	flex-direction: row;
}

.optionsCol,
.contactsCol {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	> * {
		margin: calc(var(--index) * 0.2);
	}
}

.optionsCol {
	& > * {
		list-style: disc;
		list-style-position: inside;
	}
}
.contactsCol,
.linksCol {
	& > * {
		list-style: none;
	}
}

.divider {
	border-radius: 7px;
	width: 20%;
	height: 4px;
	background-color: var(--font-color-code);
	margin: calc(var(--index) * 0.3);
}
