.aboutSection {
	height: 60vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	position: relative;
}
.innerBox {
	width: 90%;
	height: 90%;
	display: flex;
	flex-direction: row-reverse;
	justify-content: center;
	align-items: center;
	position: relative;
	& > * {
		flex: 1;
	}
}
.textBox {
	display: flex;
	flex-direction: column;
	justify-content: center;
	// align-items: center;
}

.heading {
	width: fit-content;
	font-weight: bold;
	font-size: var(--font-size-xl);
	font-family: var(--font-family-heading);
	text-transform: uppercase;
	//
	// background-image: url(https://media.tenor.com/CHchDWaZDz4AAAAC/fog-smoke.gif);
	background-image: url(/src/assets/gifs/smoke.gif);
	background-size: cover;
	color: transparent;
	-moz-background-clip: text;
	-webkit-background-clip: text;
	//
}

.text {
	font-size: var(--font-size-m);
	line-height: calc(var(--font-size-m) * 1.3);
	font-family: var(--font-family-main);
	background-image: linear-gradient(
		90deg,
		rgba(153, 153, 153, 1) 20%,
		rgb(75, 75, 75) 80%
	);
	background-size: cover;
	color: transparent;
	-moz-background-clip: text;
	-webkit-background-clip: text;
}

.image {
	width: 100%;
	height: 100%;
	position: relative;
	filter: hue-rotate(85deg) saturate(0.5);
}

.bugContainer {
	width: 100%;
	height: 100%;
}

@media (max-width: 800px) {
	.innerBox {
		& > * {
			flex: auto;
		}
	}
	.image {
		display: none;
	}
}

@media (max-width: 400px) {
	.heading {
		margin: calc(var(--index) * 0.5) auto;
	}
}
